/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;700&display=swap");

/* Link for index.html */
/* <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;700&display=swap" rel="stylesheet"> */

/* font-family: 'Bellota Text', cursive; */

/*  
=====================
ROOT 
=====================
*/

:root {
  --main-font: "Bellota Text", sans-serif;

  --calculator-bg-color: #696969;
  --calculator-height: 72%;
  --calculator-width: 36%;
}

/*  
=================================
MEDIA QUERY FOR SMALLER SCREEN 
=================================
*/

@media screen and (max-width: 1024px) {
  :root {
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

/*  
=====================
RESET 
=====================
*/

body,
div,
p {
  margin: 0;
  padding: 0;
}

/*  
=====================
GLOBAL VARIABLES 
=====================
*/
